body{
    background-color: aquamarine;
    width: 100%;
}
ul li{
    list-style: none;
}
a, a:hover{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
}
header h1{
    font-size: 30px;
    color: white;
    background: black;
    height: fit-content;
    padding: 3px;
    border-radius: 5px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav{
    text-align: right;
    float: left;
    width: 90%;
}
header nav > ul{
    display: flex;
}
header nav ul li a{
    padding: 10px 10px;
    color: black;
    height: 100px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav li{
    margin: 5px 0;
}
nav li:hover{
    
    border-radius: 5px;
}
nav ul li a:hover{
    background-color: lightgray;
    color: whitesmoke;
    
    border-radius: 5px;
}
nav ul li .dropdown{
    display: none;
}
nav ul li .dropdown a{
    padding-top: 5px;
}
nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    background-color: burlywood;
    border-radius: 5px;
}
nav ul li:hover .dropdown a:hover{
    
    border-radius: 5px;
}
/* header ends */
table{
    border-collapse: collapse;
    transform: translateX(50%);
}
table td , th{
    border: 1px solid black;
    padding: 10px 30px;
    text-align: center;
}
table th{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 5px;
}
form{
    margin: 20px 0;
    padding: 20px;
    background-color: rosybrown;
    width: 50%;
    transform: translateX(50%);
    border-radius: 5px;
}
form label, .resub{
    display: block;
    margin: 5px;
}
fieldset{
    border: 2px solid white;
    width: 200px;
    display: inline;
}
